<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head th:insert="fragments/resources :: headResources('Pizza List')"></head>
<body class="bg-dark">
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="my-3" sec:authorize="hasAuthority('ADMIN')">
        <a th:href="@{/pizzas/create}" class="btn btn-primary">Add new pizza</a>
    </div>
    <h1 class="text-light">Pizza List</h1>
    <hr>
    <div class="d-flex align-items-center justify-content-between">
        <h1>Pizza List</h1>
        <form th:action="@{/pizzas}" method="GET">
            <div class="input-group">
                <input
                        type="text"
                        placeholder="Search by name"
                        class="form-control" name="search"
                        th:value="${param.search}"
                >
                <button class="btn btn-secondary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <table th:if="${pizzaList.size() > 0}" class="table table-dark">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Details</th>
            <th sec:authorize="hasAuthority('ADMIN')">Edit</th>
            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzaList}" th:object="${pizza}">
            <td th:text="*{name}"></td>
            <td th:text="*{description}"></td>
            <td><img class="d-block h-25 w-25" th:src="*{photoUrl}"></td>
            <td th:text="*{price}"></td>
            <td>
                <button class="btn btn-secondary">
                    <a class="text-light" th:href="@{pizzas/show/{id}(id=*{id})}" title="details">
                        <i class="fa-solid fa-book"></i></a>
                </button>

            </td>
            <td>
                <button class="btn btn-secondary" sec:authorize="hasAuthority('ADMIN')">
                    <a class="text-light" th:href="@{/pizzas/edit/{id}(id=*{id})}" title="edit">
                        <i class="fa-solid fa-pen-to-square"></i></a>
                </button>

            </td>
            <td>
                <form method="POST" th:action="@{/pizzas/delete/{id}(id=*{id})}"
                      onsubmit="return confirm('Are you sure?')"
                      sec:authorize="hasAuthority('ADMIN')">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:unless="${pizzaList.size() > 0}">No results</div>
</div>
</body>
</html>