<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/resources :: headResources('Pizza List')"></head>

<body class="bg-dark">

<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>

<div class="container text-light" th:object="${pizza}">
    <!-- <h3>Ingredients</h3>
    <ul th:if="{ingredients.size() >0 }">
        <li th:each="ingredientObj :{ingredients}" th:text="${ingredientObj.name}"></li>
    </ul>
    <div th:unless="*{ingredients.size() > 0}" class="alert alert-ingo">The list is empty</div>
    <hr> -->
    <div th:if="${message !=null}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <dl>
        <dt>Name</dt>
        <dd th:text="*{name}"></dd>
        <dt>Photo</dt>
        <img class="d-block h-25 w-25" th:src="*{photoUrl}">
        <dt>Price</dt>
        <dd th:text="*{price}"></dd>
        <dt>Description</dt>
        <dd th:text="*{description}"></dd>
    </dl>

    <div class="mt-2">
        <a th:href="@{/pizzas}" class="btn btn-secondary">Back to list</a>
    </div>

    <h2>Special Offer
        <a
                th:href="@{/offers/create(pizzaId=*{id})}"
        ><i class="fa-solid fa-circle-plus"></i></a>
    </h2>

    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="specialOffer : *{specialOffers}" th:object="${specialOffer}">
            <td th:text="*{title}"></td>
            <td th:text="*{startDate}"></td>
            <td th:text="*{endDate}"></td>
            <td>
                <a
                        class="btn btn-primary"
                        th:href="@{/offers/edit/{id}(id=*{id})}" title="edit">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <form method="POST" th:action="@{/offers/delete/{id}(id=*{id})}"
                      onsubmit="return confirm('Are you sure?')">
                    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="*{SpecialOffers.size() == 0}" class="alert alert-info">The list is empty</div>
    </section>


    <div class="mt-2">
        <a th:href="@{/pizzas}" class="btn btn-primary">Back to list</a>
    </div>
</div>
</div>

</body>
</html>